<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @market.latitude %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @market.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @market.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @market.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @market.website %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
